span{
    color: rgb(191, 137, 0);
}
/* Background Image for Profile Header*/
.header-background{
    background-image: url(images/tamiu-aic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Text color for Profile Header */
#main-profile{
    color: white;
    list-style-type: none;
}
/* Profile Header Image Roundness */
.profile-img{
    border-radius: 50%;
    border-width: thin;
    border-style: solid;
    border-color: white;
}
/* Home Nav Button Color */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color:#163961 !important;
}

ul li a {
    display: block; 
    padding: 15px 20px; 
    color:  #163961;
    text-decoration: none;
    font-size: 20px;
}
ul li:hover ul.dropdown{
    display: block;
}

/* Dropdown Menu Color */
.dropdown-menu{
    --bs-dropdown-link-active-bg: #163961 !important;
}

/* Nav Button colors */
.nav {
    --bs-nav-link-color: #163961 !important;
    --bs-nav-link-hover-color: rgb(191, 137, 0)!important;
}


