/* Nav Bar: Home Button Color*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color:#163961 !important;
}
/* Nav Bar: Tab Buttons */
.nav {
    --bs-nav-link-color: #163961 !important;
    --bs-nav-link-hover-color: rgb(191, 137, 0)!important;
}
/* Webpage: Header Title color*/
header{
    color: rgb(191, 137, 0);
}
/* Dropdown Menu Color */
.dropdown-menu{
    --bs-dropdown-link-active-bg: #163961 !important;
}

/* Nav Button - Dropdown Stylization  */
ul ul{
    list-style: none;
}
ul li a {
    display: block; 
    padding: 15px 20px; 
    color:  #163961;
    text-decoration: none;
    font-size: 20px;
}
ul li:hover ul.dropdown{
    display: block;
}

  /* *** Student Review Card: Style ***  */
.carousel-item {
    height: 30rem;
}

.ratings {
    color: rgb(255, 214, 92);
} 

/* Year Variable */
:root{
    --current-year: "2025";
}
.year::after {
    content: var(--current-year);
}